= form_for @entry, :html => {:novalidate => true} do |f|
  - if @entry.errors.any?
    #error_explanation
      %h2= "#{pluralize(@entry.errors.count, "error")} prohibited this entry from being saved:"
      %ul
        - @entry.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :from_amount, 'Amount'
    = f.text_field :from_amount, :pattern => "\\d*"
  .field
    = f.label :currency
    = f.select :currency, all_currencies
  .field
    = f.label :category_id
    = f.select :category_id, options_from_collection_for_select(@categories, 'id', 'name')
    %a#select-category{href: '#'}
      [Select Category]
  .field
    = f.label :date
    = f.date_select :date
  .actions
    = f.submit 'Save'
