= render 'form'

.stats
  .total.clearfix
    %h2 This Month
    %span.num= number_format @total
  .average.clearfix
    %div
      %span 1 /
      %span= @now.day
      %span.num= number_format(@total / @now.day)
    %div
      %span 1 /
      %span= @now.end_of_month.day
      %span.num= number_format(@total / @now.end_of_month.day)

#piechart-wrapper
  #piechart

#home-categories
  - @entries_by_category.each do |category, entries|
    %div.root-category
      %h2= category.name
      %h3{'data-amount' => (entries.sum &:amount)}= number_format entries.sum &:amount