= render 'form'

#category-overlay
  %input#category-name.big-button{:type => 'text', :autocorrect => 'off', :autocapitalize => 'off', :placeholder => 'Search'}

  %ul#category-list 

.month-stats.clearfix
  %h2 Past 30 Days
  .average
    %span Per Day
    %span.num= number_format(@total / 30)
  .total
    %span Total
    %span.num= number_format @total

#piechart-wrapper
  #piechart

#home-categories
  - @entries_by_category.each do |category, entries|
    %div.root-category
      %h2= category.name
      %h3{'data-amount' => (entries.to_a.sum &:amount)}= number_format entries.to_a.sum &:amount