= render 'form'

#category-overlay
  %input#category-name.big-button{:type => 'text', :autocorrect => 'off', :autocapitalize => 'off', :placeholder => 'Search'}

  %ul#category-list 

.month-stats.clearfix
  %h2 Past 30 Days
  
  #money-bar
    .i{:style => 'width: ' + (@income_total / (@income_total + @expenses_total) * 100).to_s + '%'}
    .e{:style => 'width: ' + (@expenses_total / (@income_total + @expenses_total) * 100).to_s + '%'}

  .income
    .average
      %span Per Day
      %span.num= number_format(@income_total / 30)
    .total
      %span Total
      %span.num= number_format @income_total
  .expenses
    .average
      %span Per Day
      %span.num= number_format(@expenses_total / 30)
    .total
      %span Total
      %span.num= number_format @expenses_total

#piechart-wrapper
  #piechart

#home-categories
  - @entries_by_category.each do |category, entries|
    %div.root-category
      %h2= category.name
      %h3{'data-amount' => (entries.to_a.sum &:amount)}= number_format entries.to_a.sum &:amount