.content
  .month-stats.clearfix
    %h1.section-title= @month.strftime('%B %Y')

    / #money-bar
    /   .i{:style => 'width: ' + ( number_to_percentage @income_total / (@income_total + @expenses_total) * 100 ) }
    /   .e{:style => 'width: ' + ( number_to_percentage @expenses_total / (@income_total + @expenses_total) * 100 ) }
      
    .income
      .average
        %span Per Day
        %span.num= number_format(@income_total / @days)
      .total
        %span Total
        %span.num= number_format @income_total
    .expenses
      .average
        %span Per Day
        %span.num= number_format(@expenses_total / @days)
      .total
        %span Total
        %span.num= number_format @expenses_total

  %ul#month-categories.month-list
    - @expense_entries_by_category.each do |category, entries|
      %li
        .clearfix.root-category
          .percentage-bar{ :style => 'width: ' + ( number_to_percentage ( entries.to_a.sum &:amount ) / @expenses_total * 100, precision: 0 ) }
          %h2.name= category.name
          %h3.percentage= number_to_percentage ( entries.to_a.sum &:amount ) / @expenses_total * 100, precision: 0
          %h3.total= number_format entries.to_a.sum &:amount
          %h3.day
            = number_format ( entries.to_a.sum &:amount ) / @days
            %span / day
          

        %ul
          - entries.group_by { |entry| entry.category }.sort_by { |category, entries| entries.to_a.sum &:amount }.reverse.each do |subcategory, subentries|
            %li
              .clearfix.sub-category
                .percentage-bar{ :style => 'width: ' + ( number_to_percentage ( subentries.to_a.sum &:amount ) / @expenses_total * 100, precision: 0 ) }
                %h2.name= subcategory.name
                %h3.percentage= number_to_percentage ( subentries.to_a.sum &:amount ) / @expenses_total * 100, precision: 0
                %h3.total= number_format subentries.to_a.sum &:amount
                %h3.day
                  = number_format ( subentries.to_a.sum &:amount ) / @days
                  %span / day
  
  = link_to "All entries for #{@month.strftime('%B')}", month_entries_entries_path, :class => 'big-button orange'
