.month-stats.clearfix
  %h2= @month.strftime('%B %Y')

  #money-bar
    .i{"data-value" => @income_total}
    .e{"data-value" => @expenses_total}
    
  .income
    .average
      %span Per Day
      %span.num= number_format(@income_total / @days)
    .total
      %span Total
      %span.num= number_format @income_total
  .expenses
    .average
      %span Per Day
      %span.num= number_format(@expenses_total / @days)
    .total
      %span Total
      %span.num= number_format @expenses_total

#piechart-wrapper
  #piechart

#months-wrapper.clearfix.categories
  #month-toggle
    %a.categories{:href => '#'} Categories
    %a.dates{:href => '#'} Days

  .inner
    %ul#month-categories.month-list
      - @entries_by_category.each do |category, entries|
        %li
          %div.clearfix.root-category
            %h2= category.name
            %h3.total{'data-amount' => (entries.to_a.sum &:amount)}= number_format entries.to_a.sum &:amount
            %h3.day
              = number_format ( entries.to_a.sum &:amount ) / @days
              %span / day

          %ul
            - entries.group_by { |entry| entry.category }.sort_by { |category, entries| entries.to_a.sum &:amount }.reverse.each do |subcategory, subentries|
              %li
                %div.clearfix
                  %h2= subcategory.name
                  %h3.total= number_format subentries.to_a.sum &:amount
                  %h3.day
                    = number_format ( subentries.to_a.sum &:amount ) / @days
                    %span / day

    %ul#month-dates.month-list
      - @entries_by_date.each do |date, entries|
        %li
          %div.clearfix
            %h2= date.strftime("%A #{date.day.ordinalize}")
          
          %ul
            - entries.each do |entry|
              %li
                = link_to edit_entry_path(entry), :class => 'clearfix' do
                  %h2= entry.category.name
                  %h3= number_format entry.amount
                  .icon-chevron-right