.month-stats.clearfix
  %h2= @month.strftime('%B %Y')
  .average
    %span 1 /
    %span= @month.end_of_month.day
    %span.num= number_format(@total / @month.end_of_month.day)
  .total
    %span Total
    %span.num= number_format @total

#piechart-wrapper
  #piechart

#months-wrapper.clearfix.categories
  #month-toggle
    %a.categories{:href => '#'} Categories
    %a.dates{:href => '#'} Days

  .inner
    %ul#month-categories.month-list
      - @entries_by_category.each do |category, entries|
        %li
          %div.clearfix.root-category
            %h2= category.name
            %h3{'data-amount' => (entries.sum &:amount)}= number_format entries.sum &:amount

          %ul
            - entries.group_by { |entry| entry.category }.sort_by { |category, entries| entries.sum &:amount }.reverse.each do |subcategory, subentries|
              %li
                %div.clearfix
                  %h2= subcategory.name
                  %h3= number_format subentries.sum &:amount

    %ul#month-dates.month-list
      - @entries_by_date.each do |date, entries|
        %li
          %div.clearfix
            %h2= date.strftime("%A #{date.day.ordinalize}")
          
          %ul
            - entries.each do |entry|
              %li
                = link_to entry, :class => 'clearfix' do
                  %h2= entry.category.name
                  %h3= number_format entry.amount