%p#notice= notice

%p
  %b Category:
  = @entry.category.name
%p
  %b Amount:
  = @entry.amount
%p
  %b Date:
  = @entry.date

= link_to 'Edit', edit_entry_path(@entry)
\|
= link_to 'Delete', @entry, :method => :delete, :data => { :confirm => 'Are you sure?' }
