= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  
  .row
    .field
      = f.label :email
      = f.text_field :email
  
  .row
    .field
      = f.label :time_zone
      = f.time_zone_select :time_zone, ActiveSupport::TimeZone.all

  .row
    .field
      = f.label :currency
      = f.select :currency, all_currencies

  .row
    .field
      = f.label :default_currency
      = f.select :default_currency, all_currencies

      %p
        This is the currency that is selected by default on new entries. Handy when travelling; if your base currency is AUD and you're travelling the United States, you can set the default currency to USD to avoid having to repeatedly select USD for every new entry.

  .actions
    = f.submit 'Save'
