= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :email
    = f.text_field :email

  .field
    = f.label :time_zone
    = f.time_zone_select :time_zone, ActiveSupport::TimeZone.all

  .field
    = f.label :currency
    = f.select :currency, [['AUD'], ['GBP'], ['USD']]

  .field
    = f.label :use_last_currency
    = f.check_box :use_last_currency

    %p
      Ticking this box uses the last used currency for new entries instead of the default currency. This is useful for travelling to avoid changing the currency for every new entry.

  .actions
    = f.submit 'Save'
