!!!
%html
  %head
    %meta{:name => 'viewport', :content => 'width=device-width, minimum-scale=1.0, maximum-scale=1.0' }
    %meta{:name => 'apple-mobile-web-app-capable', :content => 'yes'}
    %meta{:name => 'apple-mobile-web-app-status-bar-style', :content => 'black'}
    %title Pfinance
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Ubuntu:400,700", "data-turbolinks-track" => true
    = javascript_include_tag "https://www.google.com/jsapi", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #wrapper
      #top-links.clearfix
        = nav_link '', root_path, 'icon-home'
        = nav_link '', archive_entries_path, 'icon-calendar'
        = nav_link '', categories_path, 'icon-cabinet'
        = nav_link '', '', ''
        = link_to '', '', :class => 'icon-cog', :onclick => "javascript:alert('hi kitten');"
      - if notice
        %p.notice= notice
      - if alert
        %p.alert= alert
      #content
        = yield